div#logo {padding-top:15px;}
section.document-spotlight div.featured-content.clearfix {color: #FFFFFF; height: auto;}
section.document-spotlight div.featured-content.clearfix h2 {color: #FFFFFF; font-size: 16px;}
div#email_list {clear:both; max-width:600px; border:3px solid #13357c; border-radius:5px; margin: 0 auto; padding: 5px 10px 2px 10px;}
div#email_list p {font-weight:bold; font-size:18px;}