div#logo {padding-top:15px;}
section.document-spotlight div.featured-content.clearfix {color: #FFFFFF; height: auto;}
section.document-spotlight div.featured-content.clearfix h2 {color: #FFFFFF; font-size: 16px;}